@(editUser: Form[dto.EditUser],editUserPassword: Form[dto.EditUserPassword])
@import helper._

@main("Register") {
    <h2>UserEdit</h2>
    @form(action = routes.UserController.update){
        @inputText(
            field = editUser("userId"),
            '_label -> "UserID"
        )
        @inputText(
            field = editUser("nickName"),
            '_label -> "NickName"
        )
        <input type="submit" value="Edit">
    }
    
    <h2>PasswordEdit</h2>
    @form(action = routes.UserController.passwordUpdate){
        @inputPassword(
            field = editUserPassword("oldPassword"),
            '_label -> "OldPassword"
        )
        @inputPassword(
            field = editUserPassword("newPassword"),
            '_label -> "NewPassword"
        )
        @inputPassword(
            field = editUserPassword("confirmPassword"),
            '_label -> "ConfirmPassword"
        )
        <input type="submit" value="Edit">
    }
}
